*, *::before, *::after {
    box-sizing: border-box;
}

html, body, .wrapper, .content {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --main-color: #a8dadc;
    --lighter-shade: #f1faee;
    --darker-shade: #457b9d;
    --contrast: #e63946;
    --darkest-shade: #1d3557;
}


/* Page Grid Layout -- Start */
.content {
    display: grid;
    grid-template-rows: 0.5fr 2fr 5fr 0.5fr;
    grid-template-areas: 
    "nav"
    "hero"
    "main"
    "footer";
}

.nav {
    grid-area: nav;
    background-color: var(--main-color);
}

.hero {
    grid-area: hero;
    background-color: var(--lighter-shade);
}

.main {
    grid-area: main;
    background-color: var(--darker-shade);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    grid-area: footer;
    background-color: var(--lighter-shade);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Page Grid Layout -- End */

/* Navigation Bar Styling -- Start */
.mobile {
    display: none;
    text-align: center;
}

#dropdown{
    position: relative;
    display: inline-block;
    margin-right: 25px;
}

.dropContent {
    position: absolute;
    z-index: 1;
    min-width: 100px;
    background-color: var(--main-color);
}

#dropdown:hover {
    cursor: pointer;
}

#dropdown a {
    padding: 5px 9px;
    text-decoration: none;
    color: var(--darkest-shade);
    display: inline-block;
}

#dropdown a:hover {
    background-color: var(--lighter-shade);
    min-width: 100%;
}
/* Navigation Bar Styling -- End */

/* Slideshow -- Start */
.slide {
    display: none;
}

.slide, .activeSlide{
    max-width: 150px;
}
.activeSlide {
    display: block;
}

.slideshow, .controls {
    min-width: 500px;
    min-height: 300px;
}

.slideshow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    padding: 20px;
    border-radius: 10px;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: var(--lighter-shade);
    z-index: 1;
}

.controls a {
    cursor: pointer;
    font-size: 2rem;
    width: 2rem;
    border-radius: 3px;
    transition: 0.3s ease;
}

.controls a:hover {
    background-color: var(--lighter-shade);
    color: var(--darkest-shade);
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 3px;
    background-color: var(--main-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.active, .dot:hover {
    background-color: var(--contrast);
}


/* Slideshow -- End */

/* Media Query Mobile -- Start */
@media screen and (max-width: 400px) {
    .dropdown {
        display: none;
    }
    .mobile {
        display: block;
    }

    .icon {
        border: solid 1px var(--main-color);
        width: 50px;
        margin-right: 10px;
        cursor: pointer;
    }
}
/* Media Query Mobile -- Start */